<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="agricultural.nxt.agriculturalsupervision">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <meta-data
        android:name="UMENG_CHANNEL"
        android:value="${UMENG_CHANNEL_VALUE}" />

    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Zxing.activity.CaptureActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.WebActivity" />
        <activity android:name=".Activity.ProductRecodeActivity" />
        <activity android:name=".Activity.Forget_PwdActivity" />
        <activity android:name=".Activity.ProductSoldActivity" />
        <activity android:name=".Activity.IntegritySearchActivity"></activity>
    </application>

</manifest>