<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="agricultural.nxt.agriculturalsupervision">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme,android:label">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="5u3KsMWlXjxmGH4AZosB2kZNhf1bbAWk" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Zxing.activity.CaptureActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.WebActivity" />
        <activity android:name=".Activity.ProductRecodeActivity" />
        <activity android:name=".Activity.Forget_PwdActivity" />
        <activity android:name=".Activity.ProductSoldActivity" />
        <activity android:name=".Activity.IntegritySearchActivity" />
        <activity android:name=".Activity.RecodeActivity" />
        <activity android:name=".Activity.RecodeSearchActivity" />
        <activity android:name=".Activity.AnnounceActivity" />
        <activity android:name=".Activity.AnnounceAddActivity" />
        <activity android:name=".Activity.IntegrityMoreActivity" />
        <activity android:name=".Activity.IntegrityAddActivity" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity android:name=".AllActivity" />
        <activity android:name=".Activity.Integrity.IntegrityDetailActivity" />
        <activity android:name=".Activity.Integrity.IntegrityCheckActivity" />
        <activity android:name=".Activity.Seed.SeedDetailActivity" />
        <activity android:name=".Activity.Seed.SeedUpdateAddActivity" />
        <activity android:name=".Activity.pesticide.PesticideActivity" />
        <activity android:name=".Activity.pesticide.PesticideUpdateAddActivity" />
        <activity android:name=".Activity.pesticide.PesticideDetailActivity" />
        <activity android:name=".Activity.fertilizer.FertilizerActivity" />
        <activity android:name=".Activity.fertilizer.FertilizerDetailActivity" />
        <activity android:name=".Activity.fertilizer.FertilizerUpdateAddActivity" />
        <activity android:name=".Activity.company.CompanyActivity" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/customTheme" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/customTheme" />
        <activity android:name=".Activity.company.CompanyAddActivity" />
        <activity android:name=".Activity.company.MenuActivity" />
        <activity android:name=".Activity.company.CompanyCheckActivity" />
        <activity android:name=".Activity.company.CompanyViewActivity" />
        <activity android:name=".my.MyActivity" />
        <activity android:name=".Activity.pesticideLib.PesticideLibActivity" />
        <activity android:name=".Activity.pesticideLib.LibDetailActivity" />
        <activity android:name=".Activity.intercourse.IntercourseMenuActivity" />
        <activity android:name=".Activity.pesticideLib.SearchActivity" />
        <activity android:name=".Activity.intercourse.ClientActivity" />
        <activity android:name=".Activity.intercourse.ClientAddUpdateActivity" />
        <activity android:name=".Activity.intercourse.supplierActivity" />
        <activity android:name=".Activity.announce.AnnounceDetailActivity" />
        <activity android:name=".Activity.intercourse.SupplierAddUpdateActivity" />
        <activity android:name=".Activity.purchase.MenuPurchaseActivity" />
        <activity android:name=".Activity.purchase.PurchaseActivity" />
        <activity android:name=".Activity.purchase.PurchaseAddActivity" />
        <activity android:name=".Activity.sales.MenuSaleActivity" />
        <activity android:name=".Activity.sales.SaleActivity" />
        <activity android:name=".Activity.purchase.PurPesticideActivity" />
        <activity android:name=".Activity.purchase.PurFertilizerActivity" />
        <activity android:name=".Activity.purchase.PurPestAddActivity" />
        <activity android:name=".Activity.purchase.PurFerAddActivity" />
        <activity android:name=".Activity.sales.SalePesticideActivity" />
        <activity android:name=".Activity.sales.SaleAddActivity" />
        <activity android:name=".Activity.sales.SalePesticideAddActivity" />
        <activity android:name=".Activity.sales.SaleFerActivity" />
        <activity android:name=".Activity.sales.SaleFerAddActivity"></activity>
    </application>

</manifest>